.navbar {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: black;
    &:hover {
      cursor: pointer;
    }
  }

  .brand-link {
    text-decoration: none;
  }
}
