.trending {
  padding: 4rem 0;

  h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2.5rem;
    justify-items: center;
  }

  .trending-item {
    img {
      width: 250px;
      height: 250px;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }

    h3 {
      margin-bottom: 0.25rem;
      font-size: 1rem;
    }

    p {
      font-size: 0.9rem;
    }

    &:hover {
      img {
        opacity: 0.8;
      }
    }

    .buy-btn-box {
      margin-top: 0.8rem;

      .btn {
        cursor: pointer;
      }
    }
  }
}
