* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.container {
  padding: 0 4rem;

  &.f {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}

.copyright {
  border-top: 1px solid rgb(222, 222, 222);
  padding: 2rem 4rem;
  text-align: center;
}

@import "navbar";
@import "landing";
@import "products";
@import "bs";
@import "form";
