* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.container {
  padding: 0 4rem;
}

.container.f {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.copyright {
  border-top: 1px solid #dedede;
  padding: 2rem 4rem;
  text-align: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
  padding: 1rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar h1 {
  color: black;
}

.navbar h1:hover {
  cursor: pointer;
}

.navbar .brand-link {
  text-decoration: none;
}

.landing {
  background: url("../img/landing.jpg");
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.landing .true {
  margin-bottom: 4rem;
}

.landing h2 {
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 700;
  max-width: 400px;
}

.landing .shop-btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.625rem 2rem;
  color: black;
  border: 1px solid #666666;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 20px;
  background: none;
}

.landing .shop-btn:hover {
  color: #fff;
  background: black;
  cursor: pointer;
}

.trending {
  padding: 4rem 0;
}

.trending h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.trending .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  row-gap: 2.5rem;
  justify-items: center;
}

.trending .trending-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.trending .trending-item h3 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.trending .trending-item p {
  font-size: 0.9rem;
}

.trending .trending-item:hover img {
  opacity: 0.8;
}

.trending .trending-item .buy-btn-box {
  margin-top: 0.8rem;
}

.trending .trending-item .buy-btn-box .btn {
  cursor: pointer;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.login {
  padding: 4rem 0;
  background: #eeeeee;
  min-height: 75vh;
}

.login .login-box {
  max-width: 350px;
  margin: auto;
}

.login .login-box h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.login .login-box p {
  margin-bottom: 2rem;
}

.login .login-box input,
.login .login-box select {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.login .login-box textarea {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.login .login-box option {
  font-size: 1rem;
}

.login .login-box .forgot {
  margin-bottom: 2rem;
}

.login .login-box .forgot a {
  color: black;
}

.login .login-box input[type="submit"] {
  height: 45px;
  font-size: 1.1rem !important;
  font-weight: 600;
}

.login .login-box .login-btn {
  color: #fff;
  background-color: #343a40;
  border: none;
}

.login .login-box .login-btn.r {
  margin-top: 1rem;
}

.login .login-box .login-btn:hover {
  cursor: pointer;
  background-color: #23272b;
}
